In [11]:
import pandas as pd
uber_d=pd.read_csv("C://Users/Admin/Documents/Uber_Drives_2016.csv")
# Display number of rows and columns
print("Number of Rows and Columns:", uber_d.shape)

Number of Rows and Columns: (1156, 7)

In [10]:
# Show unique categories in CATEGORY column (before renaming)
print("\nUnique Categories in CATEGORY column:")
print(uber_d['CATEGORY*'].unique())

Unique Categories in CATEGORY column:
['Business' 'Personal' nan]

In [7]:
# Find how many null values are there in PURPOSE
print("\nNumber of Null Values in PURPOSE column:")
print(uber_d['PURPOSE*'].isnull().sum())

Number of Null Values in PURPOSE column:
503

In [6]:
import pandas as pd
uber_d=pd.read_csv("C://Users/Admin/Documents/Uber_Drives_2016.csv")
uber_d.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [8]:
# Rename all columns to uppercase
uber_d.columns = [col.upper() for col in uber_d.columns]
print("\nColumns after renaming:")
print(uber_d.columns)

Columns after renaming:
Index(['START_DATE*', 'END_DATE*', 'CATEGORY*', 'START*', 'STOP*', 'MILES*',
       'PURPOSE*'],
      dtype='object')

In [32]:

# Sort trips by distance in descending order
sortq = uber_d.sort_values(by='MILES*', ascending=False)
print(sortq[['START_DATE*', 'END_DATE*', 'MILES*', 'CATEGORY*', 'PURPOSE*']].head())

           START_DATE*         END_DATE*   MILES* CATEGORY*        PURPOSE*
1155            Totals               NaN  12204.7       NaN   Not Specified
269    3/25/2016 16:52   3/25/2016 22:22    310.3  Business  Customer Visit
270    3/25/2016 22:54    3/26/2016 1:39    201.0  Business         Meeting
881   10/30/2016 15:22  10/30/2016 18:23    195.9  Business   Not Specified
776    9/27/2016 21:01    9/28/2016 2:37    195.6  Business   Not Specified

In [15]:
# Display rides where CATEGORY == 'Business'
b = uber_d[uber_d['CATEGORY*'] == 'Business']
print(b.head())

      START_DATE*       END_DATE* CATEGORY*       START*            STOP*  \
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce      Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce      Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce  West Palm Beach

   MILES*         PURPOSE*
0     5.1   Meal/Entertain
1     5.0              NaN
2     4.8  Errand/Supplies
3     4.7          Meeting
4    63.7   Customer Visit

In [18]:
# Show top 5 rides with the longest distance (MILES)
dis = uber_d.nlargest(5, 'MILES*')
print(dis[['MILES*', 'CATEGORY*', 'PURPOSE*']])

       MILES* CATEGORY*        PURPOSE*
1155  12204.7       NaN             NaN
269     310.3  Business  Customer Visit
270     201.0  Business         Meeting
881     195.9  Business             NaN
776     195.6  Business             NaN

In [33]:
# Replace all missing PURPOSE values with "Not Specified"
uber_d['PURPOSE*'].fillna("Not Specified", inplace=True)

In [34]:
uber_d['START_DATE*'] = pd.to_datetime(uber_d['START_DATE*'])
uber_d['END_DATE*'] = pd.to_datetime(uber_d['END_DATE*'])
uber_d['TRIP_DURATION*'] = uber_d['END_DATE*'] - uber_d['START_DATE*']

ValueError: time data "Totals" doesn't match format "%m/%d/%Y %H:%M", at position 1155. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.