In [4]:
import pandas as pd
cen=pd.read_csv("C:/Users/Admin/Downloads/census.csv")

In [5]:
cen.head()

,Age,Education,Marital status,Gender,Tax,Income,Parental Status,Country,Native place,No of weeks worked
0,73,Highschoolgraduate,Widowed,Female,Nonfiler,1700.09,Notinuniverse,United-States,Native-BornintheUnitedStates,0
1,58,Somecollegebutnodegree,Divorced,Male,Headofhousehold,1053.55,Notinuniverse,United-States,Native-BornintheUnitedStates,52
2,18,10thgrade,Nevermarried,Female,Nonfiler,991.95,Notinuniverse,Vietnam,Foreignborn-NotacitizenofUS,0
3,9,Children,Nevermarried,Female,Nonfiler,1758.14,Bothparentspresent,United-States,Native-BornintheUnitedStates,0
4,10,Children,Nevermarried,Female,Nonfiler,1069.16,Bothparentspresent,United-States,Native-BornintheUnitedStates,0